<h1>Volunteer Tracker</h1>
<div class="row">
  <div class="col-md-8">
    <h2>Projects</h2>
    <%= erb(:projects) %>
    <hr>
    <h3>Add a Project</h3>
    <%= erb(:new_project) %>
  </div>
  <div class="col">
    <h2>Volunteer Leaderboard</h2>
    <%= erb(:volunteers) %>
  </div>
</div>
