<form action="/volunteer/project/<%=@project.id%>" method="post">
  <div class="form-group">
    <label for="name">Volunteer Name</label>
    <input required id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit"class="btn btn-primary mt-3">Create Volunteer</button>
</form>
