<div class="row">
  <div class="col">
    <form action="/project/new" method="post">
      <div class="form-group">
        <label for="title">Project Name</label>
        <input required id="title" name="title" class="form-control" type="text">
      </div>
      <button type="submit"class="btn btn-primary mt-3">Create Project</button>
    </form>
  </div>
</div>
