<% if @volunteers.any? %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Volunteer</th>
            <th scope="col">Hours</th>
          </tr>
        </thead>
        <tbody>
          <% @volunteers.sort_by {|volunteer| -volunteer.hours.to_i}.each do |volunteer|  %>
            <tr>
              <th scope="row"><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></th>
              <td><%= volunteer.hours %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There are currently no volunteers to display. Be the first!</p>
    <% end %>